.ListTable {	
	background:white;
	border-style: solid;
	border-color: black;
	border-width: 0px medium medium medium;
	border-collapse: collapse;
	caption-side: top;
	width: 75%;
	padding: 10px;
	margin: 150px auto auto auto;
}
.ListTable tr{
	padding:10px;
	border-style: solid;
	border-width:thin;

}
.Caption{
	background: white;
	font-size: xx-large;
	font-weight: bolder;
	padding:10px;
	border-style: solid;
	border-width: medium medium 0px medium;

}
.ListTable td{
	padding:10px;
	border-style: solid;
	border-width:thin;

}
html {
	background-image: url("images/BushlandBackground.jpg");
	background-size:100% auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
header {
	font-family: Arial;
	font-size: 60px;
	font-weight: bolder;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	background-attachment:fixed;
	color: darkblue;
	position: fixed;
	height:110px;
	top: -20px;
	bottom: auto;
	background-image: url("images/BushlandBackground.jpg");
	background-size:100% auto;
	margin: auto;
	text-align: center;
	width: 100%;
	border-spacing: 5%;
	table-layout: auto;
	padding: 0.5em;
}
nav {
	background:transparent;
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 800px;
    text-align: center;
    height: 57px;
}
nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
	float:left;
	
}
nav a:hover{
	background-color:lightblue;
}
nav a{
	box-shadow:3px 3px 2px lightgrey;
  	text-decoration: none;
  	background-color: lightcyan;
  	color: black;
	display: block;
	font-size:x-large;
    padding:7px;
    margin:25px;
    border-radius: 25px
}
nav form:{
	float:right;
	margin:200px 20px 20px 20px;
}
nav input{
	height:20px;
	font-size:large;
}
article{
	background: url('images/textBackground.jpg');
	background-attachment:scroll;
	background-size:cover;
	margin:10% 5%;
	float: left;
	width: 60%;
	padding:10px;
}
body {
	background:transparent;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
footer {
    padding: 0.5em;
}